:root {
  --vp-c-brand-1: #e60b62;
  --vp-c-brand-2: #e60b62;
  --vp-c-brand-3: #ff0468;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #ff0468, #ff2ca0);
}